*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --main-color: #ecebde;
    --nav-color: #d7d3bf;
    --button-color:#c1baa1;
    --font-color:#87806c;
}

body{
    background: var(--main-color);
}
/* start navbar */
header{
    background: var(--nav-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    z-index: 999;
}

header .title a{
    color: var(--font-color);
    font-size: 2em;
    font-weight: 700;
}

header .navbar a{
    color: var(--font-color);
    font-size: 1.2em;
    padding: 1em;
    transition: 0.5s;
    margin-left: 0.8em;
}
header .navbar a:hover{
    background-color: #9f987662;
    border-radius: 10px;
}

#logout{
    color: #fff;
    background-color: #a52a2a;
    padding: 0.8em ;
    border-radius: 10px;
}

#logout:hover{
    background-color: #751e1e;
}
/* end header */

/* start content */

.intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, var(--main-color) , #ecebdeac),
    url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center ;
    background-size: 100% 100%;
    padding: 150px 15% 0px 5%;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 30%;
    color: var(--font-color);
}

.noveltitle{
    margin: 3em 0 3em 0;
}

.noveltitle p{
    font-size: 6em;
    font-weight: 500;
}

.novelinfo{
    margin-bottom: 5em;
}

.novelinfo p{
    font-size: 1.4em;
}

p::selection{
    background: var(--font-color);
    color: #fff;
}

.read{
    text-align: center;
    margin-top: 3em;
} 

.read a{
    background-color: var(--button-color);
    color: white;
    padding : 0.8em 1em;
    font-size: 2em;
    border-radius: 15px;
    transition: 0.8s;
}

.read a:hover{
    box-shadow: 0 6px 12px rgba(26, 26, 26, 0.442);
}

.imagenovel{
    width: 25em;
    height: 28em;
    overflow: hidden;
    box-shadow: 1px 10px 20px 10px rgba(6, 6, 6, 0.442);
}
.imagenovel img{
    width: 100%;
    height: 100%;
}

/* end content */

/* start details */

.det{
    margin: 100px 0;
}

.det #title{
    color: #666151;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    font-weight: 600;
}

.detail{
    width: 80%;
    margin: auto;
    color: var(--font-color);
    text-align: justify;
    font-size: 1.8em ;
    word-spacing: 0.1em;
    direction: rtl;
}

/* end details */

/* start footer */

.foot{
    width: 100%;
    height: 60px;
    background-color: var(--nav-color);
}

/* Responsive Design */
@media (max-width: 1024px) {
   body{
        font-size: 15px;
   }
}

@media (max-width: 850px) {
    .intro{
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 50px 10%;
    }
    .intro .info{
        width:80%;
        text-align: center;
    }
    .info .noveltitle{
        font-size: 18px;
    }
    .info .novelinfo{
        font-size: 20px;
    }
    .info .read{
        font-size: 22px;
    }
    .intro .imagenovel{
        width: 75%;
        height: auto;
        /* margin-top: calc(20px + 3em); */
    }
}
@media (max-width: 720px) {
    header {
        font-size: 12px;
    }
    .info .noveltitle{
        font-size: 16px;
    }
    .info .read{
        font-size: 20px;
    }
}
@media (max-width: 565px){
    body{
        font-size: 12px;
    }
    header {
        font-size: 11px;
        padding-left: 12px;
    }
    .info .noveltitle{
        font-size: 13px;
    }
    .info .novelinfo{
        font-size: 16px;
    }
    .info .read{
        font-size: 18px;
    }

}
@media (max-width: 470px){
    header {
        font-size: 9px;
        padding-right: 5px;
    }
    header .navbar a{
        margin-left: 10px;
    }
    .info .noveltitle{
        font-size: 10px;
    }
    .info .novelinfo{
        font-size: 15px;
    }
    .info .read{
        font-size: 18px;
    }
    .intro .imagenovel{
        width: 85%;
        height: auto;
        /* margin-top: calc(20px + 3em); */
    }

}
@media (max-width: 350px){
    header{
        font-size: 7px;
    }
}
